[Unit]
Description=Poll the pi-latest release every 2 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
AccuracySec=20s

[Install]
WantedBy=timers.target
