[Unit]
Description=duet.ai install the newest main build from GitHub
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/home/test/duet-ai
ExecStart=/usr/bin/python3 /home/test/duet-ai/.updates/update-runner.py
